.selectWrapper{
 padding: 12px 0;
}


.listWrapper{
 background-color: #fff;
 height: calc(100% - 135px);
 overflow: scroll;
}


.itemWrapper{
 padding: 3px 6px;
 text-align: center;
}
.imageHolder{
 width: 100%;
 height: 120px;
 margin-top: 20px;
 margin-bottom: 10px;
}
.imageHolder img{
 width: 100%;
 height: 100%;
 object-fit: contain;
}
.itemWrapper button{
 font-size: 12px;
 padding: 0 4px;
}


.selectedIDsWrapper{
}
.selectedIDsWrapper h3{
 margin-top: 12px;
}
.selectedIDsWrapper li{
 color: #6c757d;
}
.selectedIDsWrapper li button{
 font-size: 12px;
 margin-left: 4px;
 padding: 0 4px;
}

.input{
    background-color: #6c757d;
    border-color: #6c757d;
    margin-top: 15px;
   }

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    text-align: center;
  }

.input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    text-align: center;
  }
.input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    text-align: center;
  }
.input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    text-align: center;
  }
